<html>

<head>
    <title>Home</title>
</head>

<body>
    <h1>PostmanFlows</h1>
    <form action="/" method="POST">
        <!-- label for the field -->
        <label for="dropboxRedirectUrl">Dropbox Redirect URL:</label>
        <input type="url" name="dropboxRedirectUrl" placeholder="Dropbox Redirect URL">
        <input type="submit" value="Submit">
    </form>
    <h2>Dropbox:</h2>
    <p>Dropbox Webhook Handle URL (Where this site will be listening to webhook requests):
        <a href="{{dropbox_webhook_url}}">{{dropbox_webhook_url}}</a>
    </p>
    <p>Dropbox Webhook Redirecting To (Once webhook request is hit, the request will be redirected to this URL):
        <a href="{{dropbox_url}}">{{dropbox_url}}</a>
    </p>
</body>

</html>
